In [267]:
'''
1.（延續上次作業）將 https://storage.googleapis.com/py_ml_datasets/train.csv 中的 
Sex 與 Embarked 由類別型變數轉換為 One-hot encoding 的 dummy variables
2.將 Age 的遺漏值以中位數填補
3.將 Embarked 的遺漏值以 S 填補
4.將資料以 7:3 比例分割成訓練與測試資料
5.任意選三個分類器利用訓練資料建立 h
6.比較這三個分類器在測試資料的準確率
'''
from sklearn.datasets import load_boston
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error, r2_score
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier
from mlxtend.plotting import plot_decision_regions
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn import datasets
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from IPython.display import Image 
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import random

## 1.（延續上次作業）將 https://storage.googleapis.com/py_ml_datasets/train.csv 中的Sex 與 Embarked 由類別型變數轉換為 One-hot encoding 的 dummy variables

In [268]:
url = "https://storage.googleapis.com/py_ml_datasets/train.csv"
df = pd.read_csv(url)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 2.將 Age 的遺漏值以中位數填補

In [269]:
ageMedian = df.Age.median()
df.loc[:,'Age'] = df.loc[:,'Age'].fillna(ageMedian)

## 3.將 Embarked 的遺漏值以 S 填補

In [270]:
df.loc[:,'Embarked'] = df.loc[:,'Embarked'].fillna('S')

## 4.將資料以 7:3 比例分割成訓練與測試資料

In [271]:
#設定dummy variables
Sex_label = pd.get_dummies(df["Sex"])
Embarked_label = pd.get_dummies(df["Embarked"])

#先轉變為pandas
label_df = pd.DataFrame(Sex_label)
label_df = pd.DataFrame(Embarked_label)

#整併成新的檔案
New_df = pd.concat([df,Sex_label,Embarked_label],axis=1)

#把不需要的變數刪掉
New_df = New_df.drop(["Sex","Embarked","Name","Ticket","Cabin","PassengerId"], axis = 1)

X_train, X_test, y_train, y_test = train_test_split(New_df.drop(["Survived"],axis = 1), New_df.Survived, test_size = 0.3)
New_df.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  female  male  C  Q  S
0         0       3  22.0      1      0   7.2500       0     1  0  0  1
1         1       1  38.0      1      0  71.2833       1     0  1  0  0
2         1       3  26.0      0      0   7.9250       1     0  0  0  1
3         1       1  35.0      1      0  53.1000       1     0  0  0  1
4         0       3  35.0      0      0   8.0500       0     1  0  0  1

## 5&6.任意選三個分類器利用訓練資料建立 h 並 比較這三個分類器在測試資料的準確率

### 5.1 決策樹

In [272]:
tree = DecisionTreeClassifier(criterion = "entropy", max_depth = 4)
tree.fit(X_train, y_train)
y_pred = tree.predict(X_test)
print('Accuracy: %.2f' % accuracy_score(y_test, y_pred))

Accuracy: 0.81

### 5.2 K最近鄰

In [273]:
knn = KNeighborsClassifier() # default 5
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print('Accuracy: %.2f' % accuracy_score(y_test, y_pred))

Accuracy: 0.71

### 5.3 核支持向量機

In [274]:
svm = SVC(kernel = 'rbf', gamma = 0.2) # gamma = 0.2, 核函數 rbf
svm.fit(X_train, y_train)
y_pred = svm.predict(X_test)
print('Accuracy: %.2f' % accuracy_score(y_test, y_pred))

Accuracy: 0.71